<div class="vertical-wrapper">
	<div class="vertical-center">
		{{!-- if this is a string, title, one sentence --}}
		<div>
			<h3>{{content}}</h3>
		</div>

		{{!-- if it is a math result --}}

		{{!-- if it is demo --}}
	</div>
	<div class="center-bottom">
		<button>Under the hood</button>
	</div>
</div>

